* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #004d80;
  font-family: "Microsoft YaHei", sans-serif;
}
.导航 {
  background: rgb(53, 53, 53);
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  font-size: 24px;
}
.卡片容器{
  display: flex;
  gap: 20px;
  padding: 40px;
}
.卡片{
  flex: 1; /* 让卡片等分容器宽度 */
  background: whitesmoke;
  padding: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
}
@media (max-width: 768px) {
  .卡片容器 {
    flex-direction: column; /* 小屏幕时改为垂直排列 */
}
}
  